html {
  color: #fff;
  font-family: Georgia, serif;
}

.btn {
  color: #fff;
}

.grid {
  background-color: #495562;
}

.button {
  text-align: left;
}

@media only screen and (min-width: 38em) {

  .button {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .earth {
    position: relative;
    max-height: 500px;
    overflow: hidden;
  }

  .text {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent, rgba(73, 85, 98, .9));
    padding-bottom: 0;
  }

  .btn-ghost {
    border-color: #fff;
  }

  .button {
    margin: auto;
  }

  .button:hover {
    color: #efefef;
    border-color: #97a49b;
  }

}
